<web-app>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
	<servlet>
        <servlet-name>Part5</servlet-name>
        <servlet-class>ReadCSV</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>Part6</servlet-name>
        <servlet-class>POIRead</servlet-class>
    </servlet>
    

	<servlet-mapping>
        <servlet-name>Part5</servlet-name>
        <url-pattern>/readcsv</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Part6</servlet-name>
        <url-pattern>/ReadExcel</url-pattern>
    </servlet-mapping>
    

    
</web-app>
